*{
    margin: 0;
    padding: 0;
}

:root{
    --font: "MedievalSharp", cursive;
    --text-color: #D9D5D5;
    --box-color: #262323;
    --cta-button: #DEA96D;
    --hover: #b68854;
    --save-button: #548150;
    --font-size: 1.2em;
    --font-weight: 600;
    --info-boxes: #AA9B93;
    --border-radius: 14px;
}

body{
    background-image: url(images/background.png);
    font-family: var(--font);
    color: var(--text-color);
}

.introduction h1{
    text-align: center;
    margin: 5rem 0;
}

#interactive_container{
    background: var(--box-color);
    width: 80%;
    height: 70vh;
    margin: auto;
    border-radius: var(--border-radius);
}

.cta_text{
    text-align: center;
    padding: 3rem 0;
}

.cta_button{
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cta_button button{
    padding: 1rem;
    font-size: var(--font-size);
    font-family: var(--font);
    background: var(--cta-button);
    border-radius: var(--border-radius);
    font-weight: var(--font-weight);
    border: none;
}

.cta_button button:hover{
    background: var(--hover);
    transition: 0.2s;
}